<div class="hero-unit no-left-right-padding execution-wrapper">
  <!-- <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3> -->
  <div class="col-md-12 no-left-right-padding execution-content execution-heading">
	<div class="col-md-12 no-left-right-padding execution-content execution-heading-inner-content">
		<div class="col-md-4 no-left-right-padding heading">EXECUTION</div>
		<div class="col-md-4 no-left-right-padding no-left-right-padding heading">ROLE: REGION MANAGER</div>
		<div class="col-md-4 no-left-right-padding heading">SLOT® SALES COACHING</div>
	</div>
  </div>
 <div class="col-md-12 execution-content execution-graphs">
  <div class="col-md-6 execution-inner-content execution-graph1">
  	<span class="col-md-12 execution-graph-heading execution-graph1-heading">Activity Completion Compliance</span>
  	<svg class="SVG_graph" width="450" height="250" id="stackedBarChart"></svg>
  	<div class="col-md-12 execution-graph-below-settings execution-graph1-below-settings">
  		<div>Training Channel Options</div>
		<label>
			<input type="radio" name="trainingChannel" ng-model="trainingChannel" value="1:1 Coaching" ng-change='trainingChannelChange(trainingChannel)'> Field Sales 1:1 Coaching Reports Completion
		</label>
		<label>
			<input type="radio" name="trainingChannel" ng-model="trainingChannel" value="Elearning" ng-change='trainingChannelChange(trainingChannel)'> Elearning Product Knowledge Kit Completion
		</label>
  	</div>
  </div>
  <div class="col-md-6 execution-inner-content execution-graph2">
  	<span class="col-md-12 execution-graph-heading execution-graph2-heading">Coaching Activity Completion</span>
  	<svg class="SVG_graph" width="450" height="250" id="linearBarChart"></svg>
  	<div class="col-md-12 execution-graph-below-settings execution-graph2-below-settings">
  		<div>Comparative Options</div>
		<label>
			<input type="radio" name="comparativeOption" ng-model="comparativeOption" value="Districts in my region" data-ng-change='comparativeOptionChange(comparativeOption)'> Districts in my region
		</label><br/>
		<label>
			<input type="radio" name="comparativeOption" ng-model="comparativeOption" value="Region Comparison" data-ng-change='comparativeOptionChange(comparativeOption)'> Region comparison
		</label>
  	</div>
  </div>
  <div  class="col-md-12 execution-inner-content execution-graphs-common-content">
  	<div class="col-md-12 execution-graph-below-settings execution-graphs-common-content-settings">
  		<div>Therapeutic or Skills Focus</div>
		<label>
			<input type="radio" name="therapeuticOrSkill" ng-model="therapeuticOrSkill" value="All" ng-change='therapeuticOrSkillChange(therapeuticOrSkill)'> All therapy and skill areas
		</label><br/>
		<label>
			<input type="radio" name="therapeuticOrSkill" ng-model="therapeuticOrSkill" value="ProductA" ng-change='therapeuticOrSkillChange(therapeuticOrSkill)'> Specific Focus on Product A
		</label>
  	</div>
  </div>
 </div>
</div>

<script type="text/javascript">
	
	

</script>
